body{
    /* background-color: rgb(238, 207, 29); */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* background-image: url(bg-minonspeak.jpg); */
    background-color: #ffdc18;  
    margin: auto;

}

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: rgba(255, 255, 255, 0.274);
}

h1{
    color: #ffffff;
    color: #454727;
    font-weight: bolder;
}

img {
    max-width: 350px;
    display: block;
    margin: auto;
}

#text-input {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    color: #454727;
    font-weight: bolder;
    

}
textarea{
    width: 90%;
    height: 25vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--primary);
    margin: auto;

}

button {
    background-color: #ad6c46;
    color: rgb(255, 230, 0);
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.2rem;
}
button:hover {
    background-color: #815135;
    color: rgb(255, 230, 0);
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.2rem;
}

#outputBox {
    border: 1px solid ;
    width: 90%;
    height: 25vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    background-color:var(--primary);
    margin: auto;
}

#outputDiv {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ffdc18, 0 0 30px #49FF18, 0 0 40px #235d94, 0 0 55px #49FF18, 0 0 75px #5a2303;
    color: #454727;
    font-weight: bolder;
    margin: auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
}

a{
    text-decoration: none;
    margin: 1rem;
    padding: rem;
    color: olivedrab;

}
footer {
    background-color: rgb(255, 211, 14);
    text-decoration: none;
    padding: 1rem;
    margin-top: 10rem;
}